@import url('reset.css');

/* Basic */
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 24px;
}

a:hover {
  color: #2196F3;
}

img {
  display: block;
}

.container {
  width: 1186px;
  margin: 0 auto;
  padding: 0 8px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-dark-color);
  text-align: center;
  margin-bottom: 50px;
}

/* Header */
.header {
  padding: 25px 0;
  color: #212121;
  font-weight: 500;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  flex-grow: 1;
  margin-left: 93px;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-address {
  display: flex;
  gap: 50px;
}

/* Hero-section */
.hero {
  padding: 200px 0;
  background-color: #2F303A;
  text-align: center;
}

.hero-title {
  color: #fff;
  width: 675px;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  font-weight: 900;
  letter-spacing: 2px;
}

.hero-btn {
  background-color: #2196F3;
  padding: 10px 45px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #043a67;
}

/* feature section */

.feature-section {
  padding: 95px 0 47px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.feature-list-item {
  flex-basis: 270px;
}

.feature-list-title {
  color: #212121;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

/* what-we-do section */
.what-we-do {
  padding: 47px 0 95px;
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
}

/* Team section */
.team {
  padding: 95px 0;
  background-color: #F5F4FA;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-card-info {
  padding: 30px 0;
  font-size: 16px;
  text-align: center;
}

.team article {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
}

.team-card-info p:first-child {
  font-weight: 500;
  color: #212121;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

/* Footer */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer address {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.footer address a:first-child {
  color: #fff;
}