@import url('reset.css');

/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Basic */
:root {
  --brand-color: #2196F3;
  --primary-color: #212121;
  --secondary-color: #2F303A;
  --gray-color: #757575;
  --white-color: #fff;
  --light-gray-color: #F5F4FA;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--gray-color);
  font-size: 14px;
}

a:hover {
  color: var(--brand-color);
}

.active-link {
  color: var(--brand-color);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 50px;
}

.burger-menu {
  margin-left: auto;
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 12px 8px;
}

.burger-line,
.burger-line::before,
.burger-line::after {
  content: '';
  position: absolute;
  left: 8px;
  width: 24px;
  height: 3px;
  background-color: #212121;
}

.burger-line::before {
  top: 5px;
  left: -3px;
}

.burger-line::after {
  top: 5px;
  left: -3px;
}



/* Header */
.header {
  padding: 25px 0;
  color: var(--primary-color);
  font-weight: 500;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.header-nav {
  flex-grow: 1;
  margin-left: 93px;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-nav-list li {
  position: relative;
}

.header-nav-list a {
  display: block;
}

.header-nav-list-second,
.header-nav-list-third {
  opacity: 0;
  position: absolute;
  transform: translateY(30px);
  background-color: var(--light-gray-color);
  min-width: 180px;
  pointer-events: none;
  transition: ease-in-out .4s;
}

.header-nav-list-third {
  transform: translateX(-30px);
}

.header-nav-list-second {
  top: calc(100% + 25px);
  left: 0;
  z-index: 1;
}

.header-nav-list-second::before {
  content: '';
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 25px;

}

.header-nav-list-third {
  top: 0;
  right: 100%;
  z-index: 1;
}

.header-nav-list li:hover>.header-nav-list-second,
.header-nav-list-second li:hover>.header-nav-list-third {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.header-nav-list-second li a,
.header-nav-list-third li a {
  padding: 10px 12px;
}

.header-nav-list-second li:last-child a,
.header-nav-list-third li:last-child a {
  border-bottom: none;
}

.header-address {
  display: flex;
  gap: 50px;
}

/* Hero-section */
.hero {
  text-align: center;
  background: url(../img/background.jpg) no-repeat 50%/cover;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #2F303A66;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 600px;
}

.hero-title {
  color: var(--white-color);
  max-width: 675px;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  font-weight: 900;
  letter-spacing: 2px;
}

.hero-btn {
  background-color: var(--brand-color);
  padding: 10px 45px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #043a67;
}

/* feature section */

.feature-section {
  padding: 95px 0 47px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.feature-list-item {
  flex-basis: 270px;
}

.feature-list-box {
  position: relative;
}

.feature-list-box::before {
  content: '';
  display: block;
  width: 100%;
  height: 120px;
  background-color: var(--light-gray-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature-list li:nth-child(1) .feature-list-box::before {
  background-image: url('../img/vector-1.png');
}

.feature-list li:nth-child(2) .feature-list-box::before {
  background-image: url('../img/vector-2.png');
}

.feature-list li:nth-child(3) .feature-list-box::before {
  background-image: url('../img/vector-3.png');
}

.feature-list li:nth-child(4) .feature-list-box::before {
  background-image: url('../img/vector-4.png');
}

.feature-list-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

/* what-we-do section */
.what-we-do {
  padding: 47px 0 95px;
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.what-we-do-list li {
  flex: 1 1 auto;
}

.what-we-do-list img {
  width: 100%;
  object-fit: cover;
}

/* Team section */
.team {
  padding: 95px 0;
  background-color: var(--light-gray-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.team-list article {
  flex: 1 1 auto;
}

.team-list article img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.team-card-info {
  padding: 30px 32px;
  font-size: 16px;
  text-align: center;
}

.team article {
  background-color: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
}

.team-card-info p:first-child {
  font-weight: 500;
  color: var(--primary-color);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.team-card-solical-acins {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.team-card-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition: .3s;
}

.team-card-icon:hover {
  fill: var(--brand-color);
}

/* CUSTOMERS */
.customers {
  padding: 94px 0;
}

.customers-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.customers-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}

.customers-card svg {
  fill: #AFB1B8;
  transition: .3s;
}

.customers-card svg:hover {
  fill: var(--brand-color)
}

/* PORTFOLIO PAGE */
.cards {
  padding: 94px 0;
}



.cards-button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.cards-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding: 6px 27px;
  background-color: var(--light-gray-color);
  color: var(--primary-color);
  border-radius: 4px;
  transition: ease-in-out 0.3s;
}

.cards-button:hover {
  background-color: var(--brand-color);
  box-shadow: 0px 2px 2px 0px #0000001F;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-list-item {
  flex: 1 1 31%;
}

.card {
  border: 1px solid #EEEEEE;
  cursor: pointer;
  transition: cubic-bezier(0.23, 1, 0.320, 1) 0.4s;
}

.card:hover {
  transform: scale(1.01);
  transform: translateY(0);
  box-shadow: 0px 50px 80px -30px var(--brand-color);
}

.card-img-block {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.card-img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-hidden-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  background-color: #2196F3E5;
  color: var(--white-color);
  padding-inline: 24px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  transform: translateY(-100%);
  transition: ease-in-out .4s;
}

.card:hover .card-hidden-block {
  transform: translateY(0);
}

.card-content {
  padding: 20px 24px;
}

.card-content-title {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 4px;
}

.card-content-desc {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

/* Footer */
.footer {
  background-color: var(--secondary-color);
  padding: 60px 0;
}

.footer-contacts {
  margin-right: 130px;
}

.footer-content {
  display: flex;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer address {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.footer address a:first-child {
  color: var(--white-color);
}

.join-block p {
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 20px;
}

.join-links-list {
  display: flex;
  gap: 10px;
}


.join-links-list li a {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  align-items: center;
  border-radius: 50%;
  background-color: var(--gray-color);
  transition: ease .3s;
}

.join-links-list a:hover {
  background-color: var(--brand-color);
}

.join-link {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}


/* MEDIA */

/* 1200 */
@media screen and (max-width:1200px) {
  .team-list {
    gap: 10px;
  }

}

/* 992 */
@media screen and (max-width:992px) {
  .section-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  /* Header */
  .header {
    padding: 20px 0;
  }

  .header-nav {
    margin-left: 20px;
  }

  .header-nav-list {
    gap: 20px;
  }

  .header-address {
    gap: 20px;
  }

  /* Hero */
  .hero-title {
    max-width: 550px;
    font-size: 32px;
    line-height: 40px;
  }

  .hero-btn {
    padding: 7px 30px;
    font-size: 15px;
    line-height: 25px;
  }

  /* feature */
  .feature-section {
    padding: 60px 0 30px;
  }

  /* what-we-do section */
  .what-we-do,
  .team {
    padding: 30px 0 30px;
  }

  /* Team */
  .team-card-info {
    padding: 10px;
  }

  /* costomers */
  .customers {
    display: none;
  }
}

/* 768 */
@media screen and (max-width:768px) {

  /* Header */
  .header {
    padding: 10px 0;
  }

  .header-nav-list {
    justify-content: center;
  }

  .header-address {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* Hero */
  .hero-content {
    min-height: 450px;
  }

  .hero-title {
    max-width: 450px;
    font-size: 27px;
    line-height: 25px;
  }

  .hero-btn {
    padding: 5px 23px;
    font-size: 14px;
    line-height: 20px;
  }

  /* feature */
  .feature-list {
    gap: 10px;
  }

  .feature-list-title,
  .feature-list-title+p {
    font-size: 13px;
  }

  /* what-we-do section */
  .what-we-do {
    display: none;
  }

  /* Team */

  .team-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list article {
    flex: 1 1 50%;
  }

  .team-card-solical-acins {
    justify-content: center;
    gap: 10px;
  }

}

/* 620 */
@media screen and (max-width:620px) {

  /* Header */
  .header-nav-list,
  .header-address {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  /* Hero */
  .hero-content {
    min-height: 400px;
  }

  .hero-title {
    max-width: 350px;
    font-size: 18px;
    line-height: 20px;
  }

  .hero-btn {
    padding: 5px 10px;
    font-size: 13px;
  }

  /* Feature */
  .feature-list-item {
    flex-basis: auto;
  }

  .feature-list {
    flex-direction: column;
    gap: 30px;
  }

  .feature-list-title,
  .feature-list-title+p {
    font-size: 13px;
  }

  /* Team */
  .team-card-info p {
    font-size: 16px;
  }

  .footer-content {
    justify-content: center;
  }

  .footer-contacts {
    margin: 0;
  }

  .footer address {
    align-items: center;
  }


  .join-block {
    display: none;
  }
}