@import url('reset.css');

/* Basic */
:root {
  --primary-dark-color: #212121;
}

body {
  font-size: 14px;
  line-height: 24px;
}

.container {
  width: 1186px;
  margin: 0 auto;
  padding: 0 8px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-dark-color);
  text-align: center;
}

/* Footer */
.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

address {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 9px;
  margin: 20px 0 0;
}

address a:not(address a:first-child) {
  color: #FFFFFF99
}