@import url('reset.css');

/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Basic */
:root {
  --brand-color: #2196F3;
  --primary-color: #212121;
  --secondary-color: #2F303A;
  --gray-color: #757575;
  --white-color: #fff;
  --light-gray-color: #F5F4FA;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--gray-color);
  font-size: 14px;
  line-height: 24px;
}

a:hover {
  color: var(--brand-color);
}

.active-link {
  color: var(--brand-color);
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 50px;
}

/* Header */
.header {
  padding: 25px 0;
  color: var(--primary-color);
  font-weight: 500;
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  flex-grow: 1;
  margin-left: 93px;
}

.header-nav-list {
  display: flex;
  gap: 50px;
}

.header-address {
  display: flex;
  gap: 50px;
}

/* Hero-section */
.hero {
  padding: 200px 0;
  background-color: var(--secondary-color);
  text-align: center;
}

.hero-title {
  color: var(--white-color);
  width: 675px;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  font-weight: 900;
  letter-spacing: 2px;
}

.hero-btn {
  background-color: var(--brand-color);
  padding: 10px 45px;
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  background-color: #043a67;
}

/* feature section */

.feature-section {
  padding: 95px 0 47px;
}

.feature-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.feature-list-item {
  flex-basis: 270px;
}

.feature-list-title {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}

/* what-we-do section */
.what-we-do {
  padding: 47px 0 95px;
}

.what-we-do-list {
  display: flex;
  justify-content: space-between;
}

/* Team section */
.team {
  padding: 95px 0;
  background-color: var(--light-gray-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-card-info {
  padding: 30px 0;
  font-size: 16px;
  text-align: center;
}

.team article {
  background-color: var(--white-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px #00000033;
}

.team-card-info p:first-child {
  font-weight: 500;
  color: var(--primary-color);
  letter-spacing: 1px;
  margin-bottom: 10px;
}

/* PORTFOLIO PAGE */
.cards {
  padding: 94px 0;
}



.cards-button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.cards-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  padding: 6px 27px;
  background-color: var(--light-gray-color);
  color: var(--primary-color);
  border-radius: 4px;
  transition: ease-in-out 0.3s;
}

.cards-button:hover {
  background-color: var(--brand-color);
  box-shadow: 0px 2px 2px 0px #0000001F;
  box-shadow: 0px 1px 2px 0px #00000014;
  box-shadow: 0px 3px 1px 0px #0000001A;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cards-list-item {
  flex: 1 1 31%;
}

.card {
  border: 1px solid #EEEEEE;
  cursor: pointer;
  transition: cubic-bezier(0.23, 1, 0.320, 1) 0.4s;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 50px 80px -30px var(--brand-color);
}

.card-img-block {
  height: 294px;
}

.card-img-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px 24px;
}

.card-content-title {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 4px;
}

.card-content-desc {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 1px;
}

/* Footer */
.footer {
  background-color: var(--secondary-color);
  padding: 60px 0;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer address {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.footer address a:first-child {
  color: var(--white-color);
}